extends layout

block content
  h2 Lecture #{lectureArg.lecture_num} - #{lectureArg.title}
  //h3 #{message}
  if !login
    p Please log in to view the lecture notes.
  else
    .jumbotron
      .row
        .col-md-4
          h2 Download slides
          .lecture-slot
          a(href='/files/' + lectureArg.getToken() + '.pptx')
            .lecture
              .lect-text
                h2 Lecture #{lectureArg.lecture_num}
                p #{lectureArg.title}
              .lect-pic
                img(src='/images/' + lectureArg.getToken() + '.png')
        .col-md-4
          h2 Challenges
        .col-md-4
          h2 Media
    if user.hasCompletedSurvey(lectureArg.lecture_num)
      p(style='color:green;') You have sucessfully completed the survey for this workshop. Thank you.
    else
      a(style='color:red;' href='/survey/' + lectureArg.lecture_num) You have not yet completed the survey for this workshop. Please click here to complete it. 


  
